/* CSS Variables */

:root{
    --primary: #4abdac;
    --dark: #fc4a1a;
    --alternate: #f7b733;
    --light: #dfdce3;
    --shadow: 0 1px 5px rgba(104,104,104,0.8);
}


.boxes{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}

.boxfree{
    background: var(--primary);
    text-align: center;
    color: var(--light);
	cursor:pointer;
	text-decoration: none;
}

.boxfree a{
    background: var(--primary);
    text-align: center;
    color: var(--light);
	cursor:pointer;
	text-decoration: none;
}

/*.boxfree:hover{
    background: var(--dark);
    color: var(--alternate);
	cursor:pointer;
}*/

.boxfree a:hover{
	cursor:pointer;
	text-decoration:none;
}


.boxitem{
    background: var(--dark);
    text-align: center;
    color: var(--light);
    text-decoration: none;
	cursor:pointer;
}

/*.box a{
    background: var(--dark);
    text-align: center;
    color: var(--light);
    text-decoration: none;
	cursor:pointer;
}*/

/*.boxitem:hover{
    background: var(--alternate);
    color: var(--dark);
	cursor:pointer;
}*/

.boxwaiting{
    background: var(--alternate);
    text-align: center;
    color: var(--dark);
    text-decoration: none;
	cursor:pointer;
}

.boxempty{
    background: var(--light);
    text-align: center;
    color: var(--shadow);
    text-decoration: none;
	cursor:pointer;
}

.boxinfo{
    background: #BDE5F8;;
    text-align: center;
    color: #00529B;
}

.boxinfoaction{
    background: #BDE5F8;;
    text-align: center;
    color: #00529B;
	cursor:pointer;
}

.boxinfoaction a{
    background: #BDE5F8;;
    text-align: center;
    color: #00529B;
	cursor:pointer;
}

.boxinfoaction a:hover{
	cursor:pointer;
	text-decoration:none;
}


.standard{
    text-align: center;
    font-size: large;
    grid-gap: 200px;
}


.cpswitch{
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.cpswitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.cpslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.cpslider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .cpslider {
  background-color: #2196F3;
}

input:focus + .cpslider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .cpslider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.cpslider.round {
  border-radius: 34px;
}

.cpslider.round:before {
  border-radius: 50%;
}
