/* CSS Variables */

:root{
    --primary: #4abdac;
    --dark: #fc4a1a;
    --alternate: #f7b733;
    --light:#dfdce3;
    --shadow: 0 1px 5px rgba(104,104,104,0.8);
}

html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--light);
}

body{
    background: var(--primary);
    margin: 30px 50px;
    line-height: 1.4;
}

/* Top */
.top{
    text-align: center;
    padding: 0.7rem;
    font-size: larger;
}

.top a{
    font-size: 1rem;
    color:var(--light);
    padding: 1rem;
}

/* Boxes */

.boxes{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}

.boxfree{
    background: var(--alternate);
    text-align: center;
    color: var(--dark);
    text-decoration: none;
}

.boxfree a{
    background: var(--alternate);
    text-align: center;
    color: var(--dark);
    text-decoration: none;
}

.boxfree a:hover{
    background: var(--dark);
    color: var(--light);
}

.box{
    background: var(--dark);
    text-align: center;
    color: var(--light);
    text-decoration: none;
}

.box a{
    background: var(--dark);
    text-align: center;
    color: var(--light);
    text-decoration: none;
}

.box:hover{
    background: var(--alternate);
    color: var(--dark);
}

.standard{
    text-align: center;
    font-size: large;
    grid-gap: 200px;
}

/* Button */
.btn{
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 3rem;
    text-decoration: none;
    font-size: 1rem;
    border:0;
    margin: 0.7rem;
    cursor: pointer;
}

.btn a{
    text-decoration: none;
    color: var(--light);
    cursor: pointer;
}

.btn:hover{
    background: var(--alternate);
    color: var(--dark);
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropbtn{
    background-color: var(--dark);
    color: var(--light);
    padding: 1rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    min-width: 250px;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: var(--dark);
    /* min-width: 160px; */
    width: 100%;
    box-shadow: var(--shadow);
    z-index: 1;
}

.dropdown-content a{
    color: var(--light);
    padding: 0.7rem 1rem;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: var(--alternate);
    color: var(--dark);
}

.dropdown:hover .dropdown-content{
    display: block;
}

